.pageHeading {
    color: black;
}
.box {
   box-sizing: border-box;
    width: 50%;
}
.clubRight {
    align-items: center;
    float: right;
    margin: 0.5rem;
}
.clubLeft {
    align-items: center;
    float: left;
    margin: 0.5rem;
}