.mainBody {
    background-image: url(https://www.cpp.edu/~ceu/csucounterparts/img/aconf/Cal-Poly-Pomona.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.pageHeader {
    color: white;
}